html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size-s;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

@media (min-width: $breakpoint-desktop) {
  body {
    font-size: $font-size;
  }
}

.is-active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
