// COLORS
$primary-dark: #0288d1;
$primary: #03a9f4;
$primary-light: #b3e5fc;
$neutral-white: #ffffff;
$accent: #cddc39;
$neutral-dark: #263238;
$neutral-darker: #37474f;
$neutral: #607d8b;
$neutral-lighter: #b0bec5;
$neutral-light: #eceff1;

// FONT-SIZING
$font-size-s: 1.5rem;
$font-size: 1.7rem;
$font-size-l: 2.4rem;
$font-size-xl: 3.2rem;

// SPACING
$spacing-s: 1.2rem;
$spacing: 1.6rem;
$spacing-l: 3.2rem;
$spacing-xl: 4.8rem;

// SCREEN SIZES
$breakpoint-desktop: 45rem;
